:root {
  --yellow: rgb(249, 224, 0);
  --grey: rgba(0, 0, 0, 0.4);
  --blue: #c4d7ed;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.red-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: tomato;
}

.red-dot-mother {
  position: relative;
}

.red-mid {
  width: 18px;
  height: 18px;
  font-size: 12px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  position: relative;
  top: 2px;
}

.blue {
  background-color: var(--blue);
}

.red-circle {
  background-color: tomato;
  color: white;
  border-radius: 50%;
  margin-top: 5px;
  font-size: 14px;
  width: 22px;
  height: 22px;
}

@keyframes coin {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.red-circle-bottom {
  background-color: tomato;
  color: white;
  border-radius: 50%;
  margin-top: 5px;
  font-size: 14px;
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 16px;
  left: 17px;
  animation: coin 1s ease-in-out infinite;
}

.relative-one {
  position: relative;
}
