.find-box {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px 5px;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  font-size: 14px;
}

.find-box__column {
  width: 25%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.empty-zone {
  width: 100%;
  height: 21%;
  color: var(--grey);
}
.open-chat-text {
  margin-right: 15px;
}

.app {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.app ~ span {
  color: var(--grey);
  font-size: 12px;
}

.find-box--more {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px 5px;
  width: 100%;
  height: 11%;
  justify-content: space-between;
}
