.user-column {
  width: 100%;
  height: 9%;
  margin-top: 15px;
  padding: 0px 25px;
  justify-content: flex-start;
}

.user-column__cover {
  width: 67px;
  height: 67px;
  margin-right: 20px;
}
.user-column__cover > img {
  border-radius: 28px;
}

.user-column__info {
  width: 70%;
  height: 100%;
  font-size: 22px;
  font-weight: 500;
  align-items: flex-start;
  flex-direction: column;
}

.user-column__info > span {
  margin-top: 7px;
  font-size: 14px;
  color: var(--grey);
}

.user-column__info > span > i {
  margin-left: 5px;
  color: tomato;
}

.user-column--more {
  width: 100%;
  height: 9%;
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 0px 25px;
  justify-content: space-between;
}

.user-column__inner {
  justify-content: flex-start;
  width: 80%;
  height: 100%;
}

.user-column--more > a {
  height: 100%;
  width: 10%;
}
